
:root {
    --fnt-primary-color :rgb(255, 255, 255);
    --nav--color:rgb(0, 0, 0);
    --nav-fnt-primary-color:rgb(255, 255, 255, 0.7);
    --body-primary-color:#074973;
    --body-secondary-color:#124a60;
    --body-tertiary-color:rgb(2, 2, 2);
    --body-quaternary-color:rgb(79, 8, 79);
    --body-quinary-color:rgb(39, 10, 77);
    --pro-bar-fnt-color:rgba(0, 0, 0, 0.8);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(180deg,
    var(--body-tertiary-color)5%,
    var(--body-quaternary-color),
    var(--body-quinary-color),
    var(--body-primary-color),
    var(--body-secondary-color));
    overflow-x: hidden;
    max-width: 1265px;
    margin: 0 auto;
}

nav {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:var(--nav--color);
    position: fixed;
    top: 0;
    z-index: 1000;
    max-width: 1265px !important;
    margin: 0 auto;
}

nav .nav-left {
    height: 100%;
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    color: var(--fnt-primary-color);
    text-shadow: 0 0 10px rgb(255, 255, 255, 0.1);
}

nav .nav-left span {
    color: #1398cd;
}

nav .nav-left .nav-logo {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-left: 15px;
}

nav .nav-left .nav-logo a {
    text-decoration: none;
    color: white;
}

nav .nav-left .nav-logo i {
    font-size: 30px;
    margin-right: 10px;
}

nav .nav-links {
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 50px;
    text-align: center;
}

nav .nav-links a {
    font-size: 19px;
    text-decoration: none;
    color: var(--nav-fnt-primary-color);
    text-shadow: 0 0 10px rgb(255, 255, 255, 0.1);
    transition: all 0.2s ease;
}

nav .nav-links a:hover {
    color: #08678C;
    transform: scale(1.2);
}


nav .links-menu {
    height: 100%;
    align-items: center;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0;
    margin-left: 25px;
    display: none;
}

nav .links-menu i {
    font-size: 30px;
}

.menu-links {
    width: 30%;
    padding: 60px;
    background: rgba(0, 0, 0, 0.929);
    border: 3px solid rgba(135, 32, 199, 0.8);
    border-radius: 15px;
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    left: 25px;
    top: 65px;
    z-index: 1000;
    transform: translateX(-150%);
    transition: transform 0.3s ease;
}

.menu-links.show-links {
    transform: translateX(0);
}

.menu-links a {
    color: rgba(255, 255, 255, 0.916);
    text-decoration: none;
    font-size: 20px;
}

.menu-links a:active {
    color: #1398cd;
}

nav .nav-right {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: last baseline;
    justify-content: flex-end;
    margin-bottom: 35px;
    text-shadow: 0 0 10px rgb(255, 255, 255, 0.1);
}

nav .nav-right .wheel {
    padding: 40px;
}

nav .nav-right .wheel i {
    font-size: 30px;
    cursor: pointer;
    color: var(--nav-fnt-primary-color);
    transition: all 0.3s linear;
    border: 2px solid var(--nav-fnt-primary-color);
    border-radius: 50%;
}

.nav-right .wheel i:hover {
    transform: rotate(720deg);
}

.info-window {
    display: none !important;
    position: fixed;
    height: 400px;
    width: 400px;
    background: rgba(0, 0, 0, 0.938);
    color: rgba(245, 245, 81, 0.785);
    top: 35px;
    right: 100px;
    z-index: 1000;
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: 2px solid rgb(255, 255, 255, 0.1);
    animation: opacity-up 0.3s;
}

@keyframes opacity-up {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

.info-window .info-box {
    padding: 30px 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-window .info-box h4 {
    font-size: 20px;
    margin-bottom: 15px;
    color: rgb(250, 211, 34);
}

.info-window .info-box ol li {
    font-size: 16px;
    margin-bottom: 15px;
}

.welcome {
    padding: 50px;
    width: 100%;
    padding: 250px 100px 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    opacity: 0;
}

.welcome.fade-in {
    opacity: 1;
    transition: opacity 2.5s ease-in-out;
}

.welcome h2 {
    color: white;
    font-size: 118px;
    font-weight: 600;
    text-shadow: 1px 1px 20px rgba(0, 0, 0, 0.6);
}

.introducing-container {
    display: flex;
    padding: 40px;
    width: 50%;
    align-items: center;
    background: rgb(0, 0, 0, 0.7);
    border-radius: 25px;
    margin-left: 30px;
    box-shadow: 0 2px 5px rgb(0, 0, 0, 0.7);
    transform: translateX(-200%);
    transition: transform 0.4s ease;
}

.introducing-container.show {
    transform: translateX(0);
}

.introducing-container .introducing {
    font-size: 17px;
    color: rgb(174, 174, 174);
    letter-spacing: 0.2px;
}

.introducing-container .introducing span {
    color: rgb(50, 156, 212);
}

.money-counter {
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 4px;
    width: 100%;
    display: flex;
    height: 110px;
    justify-content: center;
    align-items: center;
    background: rgb(0, 0, 0, 0.8);
}

.money-inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 50px;
}

.num-selector,
.goal-selector {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 20%;
    padding: 15px 220px;
    border-radius: 60px;
    background: linear-gradient(to bottom,
    #09194f,
    #1a3c68);
    border: 2px solid #0208238e;
    position: relative;
    margin: 0 20px;
}

.goal-selector {
    background: linear-gradient(to bottom,
    #360a7c,
    #420d8b,
    #330858);
    border: 2px solid rgba(16, 3, 23, 0.422);
}

.num-selector h3,
.goal-selector h3 {
    display: flex;
    white-space: nowrap;
    padding-right: 8px;
    font-size: 22px;
    color: rgba(255, 255, 255, 0.868);
    letter-spacing: 0.2px;
}

.num-selector input,
.goal-selector input {
    font-size: 25px;
    width: 150px;
    border: none;
    background: transparent;
    border-bottom: 1.5px solid rgba(255, 255, 255, 0.315);
    color: white;
    font-weight: 500;
}

#number::-webkit-inner-spin-button,
#number::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#number:focus {
    outline: none;
}

.num-selector i,
.goal-selector i {
    font-size: 25px;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 10px rgb(255, 255, 255, 0.1);
    cursor: pointer;
    position: absolute;
    right: 42px;
    transition: all 0.1s ease-in-out;
}

.goal-selector i {
    cursor: default !important;
}

.num-selector i#budget-enter:hover {
    transform: scale(1.1);
    color: #a4d4e7;
}

.num-selector i#budget-enter:active {
    transform: scale(0.9);
}

.money-counting {
    width: 100%;
    margin: 0 auto 150px;
    padding: 20px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.8);
}

.categories {
    display: flex;
    width: 100%;
    display: flex;
    padding: 30px 50px;
    flex-direction: row;
    gap: 22px;
    color: white;
    justify-content: center;
}

.categories .input {
    display: flex;
    align-items: center;
    border-radius: 60px;
    background: linear-gradient(to bottom,
    rgb(24, 46, 118),
    #1f4270);
    border: 2px solid #061e4dee;
    padding: 8px 5px;
    position: relative;
}

.categories .input h3 {
    margin-left: 8px;
}

.categories .input input {
    width: 55px;
    font-size: 20px;
    background: transparent;
    border: none;
    color: white;
    margin-left: 5px;
}

.categories .input i {
    font-size: 26px;
    cursor: pointer;
    transform: 0.5s ease;
}

.categories .input i:hover {
    transform: scale(1.1);
}

.categories .input i:active {
    transform: scale(0.9);
}

.delete-box {
    display: flex;
    align-items: center;
    border-radius: 50%;
    background: linear-gradient(180deg,
    rgb(24, 46, 118),
    #1f4270);
    border: 2px solid #061e4dee;
    padding: 10px;
    position: relative;
    transition: all 0.2s ease;
}

.delete-box:hover {
    transform: scale(1.1);
}

.delete-box:active {
    transform: scale(0.9);
}

.delete-box i {
    font-size: 26px;
    cursor: pointer;
    transform: 0.5s ease;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    margin: 0 auto;
    top: 30%;
    width: 30%;
    height: 250px;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.984);
    border-radius: 20px;
    box-shadow: 0 0 30px rgb(0, 0, 0, 0.2);
    border: 3px solid #325d95;
    animation: modal 0.4s normal ease-in-out;
}

@keyframes modal {
    0% {
        transform: scale(0.1);
    }

    40% {
        transform: scale(1);
    }

    60% {
        transform: scale(1.1);
    }

    80% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

.modal .modal-content {
    border-radius: 20px;
    background: transparent;
    border: 3px solid #3566a752;
    padding: 25px;
    margin: 18px auto;
    width: 80%;
    text-align: center;
}

.modal .modal-content p {
    width: 100%; 
    margin: 0 auto; 
    font-size: 16px;
    color: rgba(0, 0, 0, 0.9);
}

.modal .modal-content p span {
    color: rgb(181, 9, 9);
}

.modal .modal-content p span.reset {
    color: rgba(0, 0, 0, 0.9);
    font-weight: 800;
}

.modal .modal-content .button-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    margin-top: 70px;
}

.modal .modal-content .button-content button {
    width: 40%;
    height: 30px;
    cursor: pointer;
    background: linear-gradient(to bottom,
    #192d6b,
    #3765a0);
    border: 2px solid rgba(51, 51, 118, 0.733);
    border-radius: 4px;
    color: white;
    box-shadow: 0 0 30px rgb(0, 0, 0, 0.1);
}

.modal .modal-content .button-content button:hover {
    animation: growAndDown 1.4s infinite ease-in-out;
}

@keyframes growAndDown {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.results-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 15px;
}

.categories-results {
    margin-top: -208px;
    margin-right: 30px;
    width: 60%;
    border-radius: 20px;
    border: 1.5px solid rgba(255, 255, 255, 0.155);
    background-color: rgba(90, 60, 223, 0.078);
    backdrop-filter: blur(px);
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.categories-results .food,
.categories-results  .home,
.categories-results  .fuel,
.categories-results  .fun,
.categories-results  .other{
    padding: 15px 30px;
    width: 110%;
    display: flex;
    align-items: center;
    color: white;
    border-radius: 50px;
    margin-left: -70px;
    background: linear-gradient(to bottom,
    #09194f,
    #1a3c68);
}

.categories-results  .food,
.categories-results  .home,
.categories-results  .fuel,
.categories-results  .fun {
        margin-bottom: 35px;
}
 
.money-counting .category h3 {
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 0.2px;
    text-shadow: 0 0 0px rgb(255, 255, 255, 0.1);
    margin-right: 5px;
}

.money-counting .category p {
    width: 45%;
    background: transparent;
    border: none;
    font-size: 22px;
    color: white;
    position: relative;
}


.percent-circles {
    width: 40%;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.653);
    border: 3px solid gray;
    backdrop-filter: blur(5px);
    padding: 0 100px 20px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.spent-container,
.investment-container,
.goal-container  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    padding: 18px 0;
    margin-bottom: 15px;
    position: relative;
}

.spent-container h3,
.investment-container h3,
.goal-container h3 {
    font-size: 20px;
    padding: 9px;
    color: var(--pro-bar-fnt-color);
}


[role="progressBar"] {
    --size: 130px;
    --bar-width: 25px;

    font-size: 2rem;
    color: var(--pro-bar-fnt-color);
    width: var(--size);
    aspect-ratio: 1 / 1;

    background: conic-gradient(
        #6e1da7 0%,  
    );

    border-radius: 50%;
    margin: 0 auto;
    display: grid;
    place-items: center;
    position: relative;
    

    &::before {
        content: attr(aria-valuenow) '%';
        background: rgb(158, 157, 157);
        border-radius: inherit;
        width: calc(100% - var(--bar-width));
        aspect-ratio: 1 / 1;
        display: grid;
        place-items: center;
    }

    &::after {
        content: attr(aria-live) '€';
        position: absolute;
        bottom: -35px;
        font-size: 1.6875rem;
    }

}

.spent-progressbar,
.investment-progressbar,
.goal-progressbar {
    margin: 0 100%;
}


footer {
    padding: 15px;
    background: rgb(11, 11, 11);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .footer-left {
    padding: 50px;
}

footer .footer-left h4 {
    color: rgb(255, 255, 255, 0.9);
    font-size: 25px;
}

footer .footer-left h4 span {
    color: rgb(19, 86, 162);
    font-size: 28px;
}

footer .footer-right {
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-direction: row;
}

footer .footer-right a {
    color: rgb(255, 255, 255, 0.9);
    text-decoration: none;
    font-size: 26px;
    transition: all 0.1s ease;
}

footer .footer-right a:hover {
    transform: scale(1.4);
    color: rgb(37, 87, 167);
}

footer .footer-right a:active {
    transform: scale(0.8);
}



/* Media queries */
@media screen and (width < 1217px) {
    .welcome h2 {
        font-size: 110px;
    }
}

@media screen and (width < 1200px) {
    

    .modal .modal-content {
        padding: 30px;
        margin: 30px auto;
        width: 85%;
    }


    .modal .modal-content p {
        margin: 2px auto 0; 
        font-size: 15px;
    }
        
    .modal .modal-content .button-content {
        margin: 0 auto;
        margin-top: 40px;
    }
}


@media screen and (width < 1150px) {

    .categories {
        flex-wrap: wrap;
    }

    .categories-results{
        margin-bottom: 30px;
    }

    .spent-container h3,
    .investment-container h3,
    .goal-container h3 {
        white-space: nowrap;
    }

    .categories-results {
        margin-top: -160px;
    }

}

@media screen and (width < 1120px) {

    .modal {
        height: 180px;
    }

    .modal .modal-content {
        padding: 15px;
        margin: 20px auto; 
        width: 90%;
    }


    .modal .modal-content p {
        margin: 1px auto 0; 
        font-size: 14px;
    }
        
    .modal .modal-content .button-content {
        margin: 0 auto;
        margin-top: 40px;
    }
    
    .modal .modal-content .button-content button {
        width: 35%;
        height: 24px;
    }

}


@media screen and (width < 1111px) {

    .welcome h2 {
        font-size: 100px;
    }

    .categories-results{
        margin-bottom: 50px;
    }

    .categories-results .food, .categories-results .home, .categories-results .fuel, .categories-results .fun, .categories-results .other {
        width: 130%;
    }


}

@media screen and (width < 1045px) {


    .money-counting .category h3 {
        font-size: 16px;
    }
    
    .money-counting .category p {
        width: 30%;
        background: transparent;
        border: none;
        font-size: 20px;
    }

        .modal .modal-content {
        padding: 15px;
        margin: 13px auto; 
        width: 90%;
    }

}


@media screen and (width < 1015px) {
    .welcome h2 {
        font-size: 90px;
    }

.num-selector,
.goal-selector {
    padding: 15px 200px;
}

.num-selector {
    margin-left: 40px;
}

.goal-selector {
    background: linear-gradient(to bottom,
    #360a7c,
    #420d8b,
    #330858);
    border: 2px solid rgba(16, 3, 23, 0.422);
}

.num-selector h3,
.goal-selector h3 {
    font-size: 21px;
}

.num-selector input,
.goal-selector input {
    font-size: 25px;
    width: 120px;
}

}


@media screen and (width < 990px) {

        .modal {
        height: 180px;
    }

    .modal .modal-content {
        padding: 15px;
        margin: 10px auto; 
        width: 90%;
    }
} 

@media screen and (width < 950px) {
    .modal .modal-content {
        padding: 15px;
        margin: 12px auto; 
        width: 90%;
    }
}


@media screen and (width < 910px) {

    .categories-results .food, .categories-results .home, .categories-results .fuel, .categories-results .fun, .categories-results .other {
        width: 160%;
    }

     nav .nav-links {
        margin-left: 40px;
     }

.num-selector,
.goal-selector {
    padding: 15px 170px;
}

.goal-selector {
    background: linear-gradient(to bottom,
    #360a7c,
    #420d8b,
    #330858);
    border: 2px solid rgba(16, 3, 23, 0.422);
}

.num-selector h3,
.goal-selector h3 {
    font-size: 19px;
}

.num-selector input,
.goal-selector input {
    font-size: 23px;
    width: 100px;
}

.num-selector i,
.goal-selector i {
    font-size: 23px;
    right: 32px;
}
}


@media screen and (width < 890px) {
    .modal {
        margin: 0 auto;
        top: 30%;
        width: 35%;
        height: 270px;
    }

    .modal .modal-content {
        margin: 35px auto;
        padding: 30px;
        width: 90%;
        text-align: center;
    }
        
    .modal .modal-content .button-content {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 0 auto;
        margin-top: 50px;
    }

    .modal .modal-content .button-content button {
        width: 30%;
        height: 30px;
    }

}


@media screen and (width < 875px) {


    footer {
        padding: 0;
    }

    footer .footer-left {
        padding: 24px;
        padding-left: 30px;
    }

    footer .footer-left h4 {
        font-size: 22px;
    }

    footer .footer-left h4 span {
        font-size: 24px;
    }

    footer .footer-right {
        padding: 50px 34px;
    }
    

    .info-window {
        height: 300px;
        width: 300px;
        top: 50px;
    }

    .info-window .info-box {
        padding: 20px 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .info-window .info-box h4 {
        font-size: 15px;
    }
    
    .info-window .info-box ol li {
        font-size: 12px;
        margin-bottom: 15px;
    }
}


@media screen and (width < 860px) {
    .modal {
        margin: 0 auto;
        top: 30%;
        width: 45%;
        height: 270px;
    }

    .modal .modal-content {
        margin: 25px auto;
        padding: 40px;
    }

    .modal .modal-content p {
        font-size: 15px;
    }
}


@media screen and (width < 840px) {

    .categories-results .food, .categories-results .home, .categories-results .fuel, .categories-results .fun, .categories-results .other {
        width: 175%;
    }

    .modal .modal-content {
        padding: 40px;
        margin: 25px auto; 
        width: 90%;
    }
}

@media screen and (width < 800px) {        
    .results-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        margin-top: 15px;
    }

    .money-counting .category p {
        width: auto;
        background: transparent;
        border: none;
        font-size: 20px;
        color: white;
        position: relative;
        margin-top: 2px;
    }

    .categories-results {
        margin: 10px auto 50px;
        width: 100%;
    }
    
    .categories-results .food, .categories-results .home, .categories-results .fuel, .categories-results .fun, .categories-results .other {
        width: 100%;
        padding: 7px 20px;
        margin: 10px auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .percent-circles {
        width: 100%;
        backdrop-filter: blur(5px);
        padding: 0 100px 20px;
        margin-bottom: 25px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 50px;
    }

    .spent-container,
.investment-container,
.goal-container {
    margin: 10px 0;
}
}


@media screen and (width < 780px) {
    .introducing-container {
        width: 70%;
        padding: 30px;
    }

}


@media screen and (width < 768px) {

    .num-selector,
.goal-selector {
    padding: 10px 150px;
    margin-right: 10px;
}

.goal-selector {
    background: linear-gradient(to bottom,
    #360a7c,
    #420d8b,
    #330858);
    border: 2px solid rgba(16, 3, 23, 0.422);
}

.num-selector h3,
.goal-selector h3 {
    font-size: 17px;
}

.num-selector input,
.goal-selector input {
    font-size: 22px;
    width: 80px;
}

.num-selector i,
.goal-selector i {
    font-size: 22px;
    right: 32px;
}

}


@media screen and (width < 750px) {

    .modal .modal-content {
        padding: 35px;
        margin: 22px auto; 
        width: 90%;
    }

    nav .nav-right .wheel i {
        font-size: 25px;
        margin-bottom: 5px;
    }

    .welcome h2 {
        font-size: 70px;
    } 

}

@media screen and (width < 715px) {
    .introducing-container {
        width: 90%;
        padding: 25px;
    }

    .modal {
        margin: 0 auto;
        top: 30%;
        width: 65%;
        height: 270px;
    }

    .modal .modal-content {
        margin: 45px auto;
        padding: 30px;
    }

    .modal .modal-content p {
        font-size: 15px;
    }


}


@media screen and (width < 680px) {

    .spent-container,
.investment-container,
.goal-container {
    width: 120px;
}

.spent-container h3,
.investment-container h3,
.goal-container h3 {
    font-size: 15px;
}

[role="progressBar"] {
    --size: 100px;
    --bar-width: 15px;

    font-size: 1.6rem;

    
    &::after {
        bottom: -32px;
        font-size: 1.4rem;
    }
}

.info-window {
    height: 300px;
    width: 300px;
    top: 45px;
    right: 80px;
}
}


@media screen and (width < 670px) {

    .num-selector,
    .goal-selector {
        padding: 10px 130px;
        margin-right: 0;
    }

    .num-selector {
        margin-left: 15px;
    }
    
    .goal-selector {
        background: linear-gradient(to bottom,
        #360a7c,
        #420d8b,
        #330858);
        border: 2px solid rgba(16, 3, 23, 0.422);
    }
    
    .num-selector h3,
    .goal-selector h3 {
        font-size: 16px;
    }
    
    .num-selector input,
    .goal-selector input {
        font-size: 25px;
        width: 80px;
    }
    
    .num-selector i,
    .goal-selector i {
        display: none;
    }

}


@media screen and (width < 635px) {

    nav .nav-right {
        padding: 0;
    }

    .welcome h2 {
        font-size: 60px;
    }

    .welcome {
        width: 100%;
        padding: 250px 50px 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        opacity: 0;
    }

    footer .footer-right a {
        font-size: 22px;
    }
}


@media screen and (width < 600px) {

    nav .nav-right .wheel i {
        font-size: 18px;
        margin-bottom: 5px;
        flex: 0;
    }

    nav .nav-links {
        margin-left: 10px;
    }

    nav .nav-links a {
        font-size: 15px;
    }

    .nav-left h1 {
        font-size: 17px;
    }

    nav .nav-left .nav-logo {
        margin-left: 0;
    }

    nav .nav-left .nav-logo i  {
        font-size: 23px;
    }

}

@media screen and (width < 590px) {

    .categories .delete-box{
        width: 40%;
        height: 45px;
        margin-top: 4px;
        border-radius: 50px;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .money-counter {
        height: 220px;
    }

    .money-inputs {
        flex-direction: column;
        padding: 50px;
        gap: 30px;
    }

    .num-selector,
    .goal-selector {
        padding: 15px 160px;
    }
    
    .goal-selector {
        background: linear-gradient(to bottom,
        #360a7c,
        #420d8b,
        #330858);
        border: 2px solid rgba(16, 3, 23, 0.422);
    }
    
    .num-selector h3,
    .goal-selector h3 {
        font-size: 17px;
    }
    
    .num-selector input,
    .goal-selector input {
        font-size: 22px;
        width: 110px;
    }
    
    .num-selector i,
    .goal-selector i {
        font-size: 23px;
        right: 22px;
        display: flex;
    }
}

@media screen and (width < 575px) {

    .percent-circles {
        flex-direction: column;
        width: 80%;
        padding-bottom: 40px;
        gap: 0;
    }

    .spent-container,
    .investment-container,
    .goal-container {
        width: 100%;
    }
    
    .spent-container h3,
    .investment-container h3,
    .goal-container h3 {
        font-size: 20px;
    }
    
    [role="progressBar"] {
        --size: 130px;
        --bar-width: 20px;
    
        font-size: 1.8rem;
    
        
        &::after {
            bottom: -36px;
            font-size: 1.8rem;
        }
    }

    .info-window {
        height: 260px;
        width: 250px;
        top: 50px;
    }
    
    .info-window .info-box h4 {
        font-size: 13px;
        margin-bottom: 8px;
    }
    
    .info-window .info-box ol li {
        font-size: 10px;
        margin-bottom: 12px;
    }

    .modal .modal-content {
        padding: 35px;
        margin: 28px auto; 
        width: 90%;
    }

}


@media screen and (width < 550px) {
    
    .categories-results .food, .categories-results .home, .categories-results .fuel, .categories-results .fun, .categories-results .other {
        width: 150%;
        padding: 7px 20px;
        margin: 10px 0 20px -80px;
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
    }

    footer .footer-left h4 {
        color: rgb(255, 255, 255, 0.9);
        font-size: 18px;
    }
    
    footer .footer-left h4 span {
        font-size: 19px;
    }

    footer .footer-right a {
        font-size: 18px;
    }
}

@media screen and (width < 525px) {

    .modal .modal-content {
        padding: 35px;
        margin: 20px auto; 
        width: 90%;
    }
}

@media screen and (width < 500px) {

    nav .nav-links {
        display: none !important;
    }
    
    nav .nav-logo {
        display: none !important;
    }

    nav .links-menu {
        display: flex;
    }

}